.centrado{
    text-align: center;
    font-style: italic;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}
body{
    background-color:wheat;
}
img{
    float: right;
    margin-left: 30px;
}
.borde{
    border-style: solid;
}

